
 <h3 class="text-white">Coming Soon</h3>
<div class="row">
  <div class="col">
  <div class="card ">
    <img src="https://i-giaitri.vnecdn.net/2017/02/15/rs-hacksaw-ridge-d757483f-c-9502-1487128954_m_460x0.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>



  <div class="col-sm-4">
    <div class="card" style="width:200px">
      <img class="card-img-top" src="https://static1.ohman.vn/YanNews/2167221/201903/ly-thuyet-giai-ma-poster-avengers-end-game-20190314-092536.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="col-sm-4">
    <div class="card" style="width:200px">
      <img class="card-img-top" src="https://static1.ohman.vn/YanNews/2167221/201903/ly-thuyet-giai-ma-poster-avengers-end-game-20190314-092536.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-sm-4">
    <div class="card" style="width:200px">
      <img class="card-img-top" src="https://static1.ohman.vn/YanNews/2167221/201903/ly-thuyet-giai-ma-poster-avengers-end-game-20190314-092536.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </div>
</div>
  <!-- 4 -->





