
  <div class="col">

    <div class="">
      <p>TIEC TRANG MAU</p>
      <p>Giờ chiếu: 12:20  31/4/2020</p>
      <p>Ghế: H1 H2</p>
      <p>100.000VND</p>
    </div>

<p>Chọn phương thức thanh toán:</p>



      <form>

        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Paypall</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">ZaloPay</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Momo</label>

      </form>


<button class="btn "> Thanh toán</button>





  </div>
