<div class="w3-main" style="margin-left:305px;margin-top:50px;">
    <div class="card" style="width:500px; left: 350px;top: 50px;">
      <div class="card-header w3-deep-orange" style="text-align: center;">
        <h1>DETAILS BILL TICKET</h1>
      </div>
      <div class="card-body w3-light-gray">
        <div class="form-group">
          <label>Ticket ID: </label>
          <input type="number" class="form-control" [(ngModel)]="ticketId" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label> Code: </label>
          <input type="text" class="form-control" [(ngModel)]="code" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label>Member Name: </label>
          <input type="text" class="form-control" [(ngModel)]="memberName" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label>Birthday: </label>
          <input type="date" class="form-control" [(ngModel)]="birthday" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label>Name Movie: </label>
          <input type="text" class="form-control" [(ngModel)]="movieName" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label>Start Time: </label>
          <input type="text" class="form-control" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
          <label>Cinema: </label>
          <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
            disabled>
        </div>
        <div class="form-group">
            <label>Room: </label>
            <input type="text" class="form-control" [(ngModel)]="roomName" [ngModelOptions]="{standalone: true}"
              disabled>
          </div>
          <div class="form-group">
            <label>Ticket Price Amount: </label>
            <input type="text" class="form-control" [(ngModel)]="ticketPriceAmount" [ngModelOptions]="{standalone: true}"
              disabled>
          </div>
          <div class="form-group">
            <label>Ticket Quantity: </label>
            <input type="text" class="form-control" [(ngModel)]=" ticketQuantity" [ngModelOptions]="{standalone: true}"
              disabled>
          </div>
          <div class="form-group">
            <label>Total Food: </label>
            <input type="text" class="form-control" [(ngModel)]=" totalFood" [ngModelOptions]="{standalone: true}"
              disabled>
          </div>
          <div class="form-group">
            <label>Total: </label>
            <input type="text" class="form-control" [(ngModel)]=" total" [ngModelOptions]="{standalone: true}"
              disabled>
          </div>
  
  
  
  
      </div>
      <div class="card-footer w3-pink " style="text-align: center;">
        <h2>HAISA CINEMA</h2>
      </div>
    </div>
  
  
  </div>
  <div class="w3-container w3-black w3-padding-32" style="margin-top: 200px;">
  
  </div>
