

<footer class="footer">
  <hr class="thick">
  <div class=" bottom_border">
  <div class="row">

  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h3 class="headin5_amrc col_white_amrc pt2">Về HaiSa</h3>
  <!--headin5_amrc-->
  <p class="mb10">Là hệ thống rạp chiếu phim hàng đầu Việt Nam, HaiSa Cinema đang ngày càng phát triển hơn nữa với các chương trình đặc sắc, các khuyến mãi hấp dẫn, đem đến cho khán giả những bộ phim bom tấn của thế giới và Việt Nam nhanh chóng và sớm nhất.</p>
  <p><i class="fa fa-location-arrow"></i> 391A Nam Kỳ Khởi Nghĩa, Q.3, TP. Hồ Chí Minh </p>
  <p><i class="fa fa-phone"></i>  +84-933019076  </p>
  <p><i class="fa fa fa-envelope"></i>  haisacinema@gmail.com  </p>


  </div>


  <div class=" col-sm-4 col-md  col-6 col">
  <h3 class="headin5_amrc col_white_amrc pt2">Thông tin</h3>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a routerLink="/theater">Hệ Thống Rạp</a></li>
  <li><a routerLink="/list">Phim Đang Chiếu</a></li>
  <li><a routerLink="/list-coming">Phim Sắp Chiếu</a></li>
  <li><a routerLink="/q&a">Hỏi và Đáp</a></li>
  <li><a routerLink="/contact">Liên Hệ</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>

  </div>

  </div>
  <hr class="thick">

  <div class="container">
  <p class="text-center textcp">Copyright @2020 | Designed With by HaiSaTeam </p>
  </div>

  </footer>
