
<div class="w3-main" style="margin-left:300px;margin-top:50px; " >
    <strong style="margin-left: 500px; font-size: 40px;font-family: 'Courier New', Courier, monospace; color: rgb(247, 117, 43);">MOVIE</strong>
   
   
  <div class="container">
    <button type="button" class="btn btn-success" style="margin-right: 500px;margin-bottom: 10px;" routerLink="/admin/listmovie/add" [disabled]="check" >ADD MOVIE</button>
       <mat-tab-group >
        <mat-tab label="Movies In Progress"> 
          <div class="form-group">
           
            <!-- <div class="col-sm-3">
              <button type="submit" class="btn btn-primary" (click)="onSearch(name1)">Search</button>
              <input
                type="text"
                name=""
                id="input"
                class="form-control"
                placeholder="Type Movie Name"
                [(ngModel)]="name1"
                [ngModelOptions]="{ standalone: true }"
                required="required"
              />
            </div> -->
            <form class="example" style="margin-left: 850px;max-width:300px">
              <input type="text" placeholder="Search.." name=""  [(ngModel)]="name1"  [ngModelOptions]="{ standalone: true }" >
              <button type="submit" (click)="onSearch(name1)" ><i class="fa fa-search"></i></button>
            </form>
          </div>
           <table class="table table-hover table-bordered table-info">
          <thead class="thead-dark" >
            <tr style="text-align:center">
              <th>Movie Name</th>
              <th>Actors</th>
              <th>Director</th>
              <th>Duration</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movie1 |  paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{movie.movieName}}</td>
              <td>{{movie.actors}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.duration}}</td>
             
              <td style="text-align: center; width: 300px;" >
                  <button type="button" class="btn btn-success" style="margin-right: 5px;" (click)="onView(this.movie)">VIEW</button>
                  <button type="button" class="btn btn-primary" (click)="onUpdate(this.movie)" [disabled]="check" >EDIT</button>
                  <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="onDelete(this.movie)"[disabled]="check" >STOP MOVIE</button>
              </td>
            </tr>
           
          </tbody>
        </table>
     
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        
       </mat-tab>
        <mat-tab label="Movies Coming Soon"> 
          <!-- <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="onSearch(name1)" style="margin-left: 1000px ;margin-top: 10px;">Search</button>
            <div class="col-sm-3">
              <input
                type="text"
                name=""
                id="input"
                class="form-control"
                placeholder="Type Movie Name"
                [(ngModel)]="name1"
                [ngModelOptions]="{ standalone: true }"
                required="required"
                style="margin-left: 840px ; margin-top: 10px;"
              />
            </div>
          </div> -->
          <form class="example" style="margin-left: 850px;max-width:300px">
            <input type="text" placeholder="Search.." name=""  [(ngModel)]="name2"  [ngModelOptions]="{ standalone: true }" >
            <button type="submit" (click)="onSearch2(name2)" ><i class="fa fa-search"></i></button>
          </form>
          <table class="table table-hover table-bordered table-info">
          <thead class="thead-dark">
            <tr style="text-align:center">
              <th>Movie Name</th>
              <th>Actors</th>
              <th>Director</th>
              <th>Duration</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movie2  |  paginate: {id:'listing_pagination2', itemsPerPage: 10, currentPage: p2,totalItems: totalRecord2}">
              <td>{{movie.movieName}}</td>
              <td>{{movie.actors}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.duration}}</td>
              <td style="text-align: center; width: 300px;" >
                <button type="button" class="btn btn-success" style="margin-right: 5px;" (click)="onView(this.movie)">VIEW</button>
                <button type="button" class="btn btn-primary" (click)="onUpdate(this.movie)" [disabled]="check">EDIT</button>
                <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="onDelete(this.movie)" [disabled]="check">STOP MOVIE</button>
            </td>
            </tr>
           
          </tbody>
        </table> 
        <pagination-controls (pageChange)="p2 = $event" previousLabel="Previous"  nextLabel="Next"  maxSize="5" directionLinks="true" id="listing_pagination2"></pagination-controls>
      </mat-tab>
        <mat-tab label="Movies Stopped Showing">  
          <!-- <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="onSearch(name1)" style="margin-left: 1000px ;margin-top: 10px;">Search</button>
            <div class="col-sm-3">
              <input
                type="text"
                name=""
                id="input"
                class="form-control"
                placeholder="Type Movie Name"
                [(ngModel)]="name1"
                [ngModelOptions]="{ standalone: true }"
                required="required"
                style="margin-left: 840px ; margin-top: 10px;"
              />
            </div>
          </div> -->
          <form class="example" style="margin-left: 850px;max-width:300px">
            <input type="text" placeholder="Search.." name=""  [(ngModel)]="name3"  [ngModelOptions]="{ standalone: true }" >
            <button type="submit" (click)="onSearch3(name3)" ><i class="fa fa-search"></i></button>
          </form>
          <table class="table table-hover table-bordered table-info">
          <thead class="thead-dark">
            <tr style="text-align:center">
              <th>Movie Name</th>
              <th>Actors</th>
              <th>Director</th>
              <th>Duration</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movie3  |  paginate: {id:'listing_pagination3', itemsPerPage: 10, currentPage: p3,totalItems: totalRecord3}">
              <td>{{movie.movieName}}</td>
              <td>{{movie.actors}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.duration}}</td>
              <td style="text-align: center; width: 300px;" >
                <button type="button" class="btn btn-success" style="margin-right: 5px;" (click)="onView(this.movie)">VIEW</button>
                <button type="button" class="btn btn-primary" (click)="onUpdate(this.movie)" [disabled]="check" >EDIT</button>
                <!-- <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="onDelete(this.movie)">Stop Movie</button> -->
            </td>
            </tr>
           
          </tbody>
        </table>
        <pagination-controls (pageChange)="p3 = $event" previousLabel="Previous"  nextLabel="Next"  maxSize="5" directionLinks="true" id="listing_pagination3"></pagination-controls>
      </mat-tab>
      </mat-tab-group>
    </div>
    
 </div>
 <div class="w3-container w3-black w3-padding-32" style="margin-top: 350px;">

</div>